body {
  background-image: url(wood-bg.jpg);
  background-repeat:repeat-y;
  background-size: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
h1, h2 {
  text-align: center;
  color: #fff;
}
div.main {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 5px;
  color: white;
  font-size: 22px;
  padding: 5px;
  background-color: rgba(100, 100, 100, 0.5);
}
div.featuredItems {
  width: 12%;
  float: left;
  color: white;
  background-color: rgba(100, 100, 100, 0.5);
}
img.featuredItems {
  width: 90%;
}
div.storeOdd {
  width: 35%;
  float: left;
  background-color: rgba(50, 50, 50, 0.45);
  margin-left: 5% ;
}
div.storeEven{
  width: 35%;
  float: right;
  background-color: rgba(50, 50, 50, 0.45);
  margin-right: 5%;
}
img.store {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
p.image {
  text-align: center;
}
p.store {
  text-align: center;
}
p.desc {
  text-align: center;
  font-size: 18px;
}

p.main {

}
#sample {
  float: left;
  width: 30%;
  padding: 10px;
}
table.menu {
  align-items: center;
  table-layout: fixed;
  width: 100%
}
td.button {
  color: white;
  font-size: 30px;
  width: 33%;
  text-align: center;
 background-color: rgba(10, 10, 10, 0.6);
}
td.button:hover {
  background-color: rgba(100, 100, 100, 1);
}
